workflow/Triage_de_Leads_VIP.json
{
  "name": "Triage de Leads VIP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuevo-lead",
        "options": {}
      },
      "id": "f2a1bd0b-76ba-413c-a751-def19315ae74",
      "name": "Webhook - Nuevo Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1536,
        208
      ],
      "webhookId": "9dd5ecc6-2725-4ce7-b245-1134d861b6f8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "ad88c479-7ea7-4cc1-bd40-ef7e94d77daa"
            },
            {
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "44c37358-2847-4283-99cc-faa22778bf9a"
            },
            {
              "leftValue": "={{ $json.body.empresa }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "6c38d988-83c9-408b-bf55-b7fdbd2b43b3"
            },
            {
              "leftValue": "={{ $json.body.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "09ebee59-ece5-4c78-9c3a-2e24b9e820b2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3234558e-5273-46b5-8b9d-c487b86c8265",
      "name": "IF - Campos completos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1328,
        208
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblFL2ybBI2M7nCIz",
          "mode": "list",
          "cachedResultName": "Logs de Error",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblFL2ybBI2M7nCIz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nodo que falló": "=Webhook - Nuevo Lead (validación)",
            "Mensaje de error": "={{ 'Faltan campos obligatorios: ' + JSON.stringify($json.body) }}",
            "Fecha": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nodo que falló",
              "displayName": "Nodo que falló",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje de error",
              "displayName": "Mensaje de error",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "172bcc92-2676-45aa-ba1c-98e6ced8f842",
      "name": "Airtable - Log Error Validación",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1104,
        368
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.body.nombre }}",
            "Email": "={{ $json.body.email }}",
            "Empresa": "= {{ $json.body.empresa }}",
            "Mensaje": "={{ $json.body.mensaje }}",
            "Estado": "Pendiente",
            "Fecha creación": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "024385bd-efe4-4149-8c23-aa2ef953395b",
      "name": "Airtable - Crear Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1104,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Sos un asistente de triage de leads comerciales. Clasificá el siguiente lead como VIP, Normal o Descartar, y justificá brevemente tu decisión.\n\nNombre: {{ $json.fields.Nombre }}\nEmpresa: {{ $json.fields.Empresa }}\nEmail: {{ $json.fields.Email }}\nMensaje: {{ $json.fields.Mensaje }}\n\nRespondé ÚNICAMENTE con un JSON válido, sin texto adicional, con este formato exacto:\n{\"clasificacion\": \"VIP|Normal|Descartar\", \"justificacion\": \"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "11202def-cbbe-4eeb-b1e8-86db62bdd05a",
      "name": "Gemini - Clasificar Lead",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -912,
        112
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "uZj5X7rhaVVYnMnc",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblFL2ybBI2M7nCIz",
          "mode": "list",
          "cachedResultName": "Logs de Error",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblFL2ybBI2M7nCIz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Nodo que falló": "Gemini - Clasificar Lead",
            "Mensaje de error": "={{ $json.error?.message || 'Error desconocido en clasificación IA' }}",
            "Fecha": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nodo que falló",
              "displayName": "Nodo que falló",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje de error",
              "displayName": "Mensaje de error",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7c1c0325-fecb-432b-8b69-332643fb816f",
      "name": "Airtable - Log Error Gemini",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -656,
        288
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Estado": "Error",
            "Clasificación IA": "={{ $json.clasificacion }}",
            "Justificación IA": "={{ $json.justificacion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5927e092-67e0-4d89-ac6b-915cd75a0c50",
      "name": "Airtable - Estado Error",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -448,
        288
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n// La salida de Gemini puede venir ya simplificada como texto, como objeto JSON directo, o dentro de content/candidates según versión del nodo.\nlet raw = item.content?.parts?.[0]?.text || item.text || item.response || item;\nlet parsed;\ntry {\n  if (typeof raw === 'object') {\n    parsed = raw;\n  } else {\n    const clean = String(raw).replace(/```json|```/g, '').trim();\n    parsed = JSON.parse(clean);\n  }\n} catch (e) {\n  parsed = { clasificacion: 'Normal', justificacion: 'No se pudo parsear la respuesta de la IA: ' + JSON.stringify(raw) };\n}\nreturn [{ json: parsed }];"
      },
      "id": "53d2b29c-e1a4-4bbe-9d0d-51097fd44a7f",
      "name": "Parsear respuesta Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Clasificación IA": "={{ $json.clasificacion }}",
            "Justificación IA": "={{ $json.justificacion }}",
            "Estado": "Procesado por IA"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "46a68a5b-c377-470e-bd98-7a6b1bca57a8",
      "name": "Airtable - Actualizar Clasificación",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -448,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.fields['Clasificación IA'] }}",
              "rightValue": "VIP",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "bbaa6790-d35c-44cb-b083-29e5665de932"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "142e8601-46d1-44dd-9422-914789c6c285",
      "name": "IF - Es VIP",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Estado": "Descartado"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "622fda45-b6eb-484a-ad96-3ead92a1e93b",
      "name": "Airtable - Marcar Descartado",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        0,
        256
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "TU_EMAIL_INTERNO@ejemplo.com",
        "subject": "=Nuevo lead VIP: {{ $('Airtable - Crear Lead').item.json.fields.Empresa }}",
        "message": "=Se detectó un lead VIP:\n\nNombre: {{ $('Airtable - Crear Lead').item.json.fields.Nombre }}\nEmpresa: {{ $('Airtable - Crear Lead').item.json.fields.Empresa }}\nEmail: {{ $('Airtable - Crear Lead').item.json.fields.Email }}\nMensaje: {{ $('Airtable - Crear Lead').item.json.fields.Mensaje }}\n\nJustificación IA: {{ $('Airtable - Actualizar Clasificación').item.json.fields['Justificación IA'] }}\n\n¿Aprobás el contacto?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Aprobar",
            "disapproveLabel": "Rechazar"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 24
            }
          }
        }
      },
      "id": "72ea0bfd-60e2-4119-bbe2-547bef477bcb",
      "name": "Gmail - Pedir Aprobación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        112
      ],
      "webhookId": "aprobacion-lead-vip",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZXN9yeWyFwNFTNKE",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Estado": "Esperando Aprobación"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2b3c0c70-5856-4fcc-99a0-efbc393ac636",
      "name": "Airtable - Esperando Aprobación",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        0,
        -32
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "a58a04df-10b4-4d82-ac1b-99bfe15c6ef7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "af5bd3b7-7096-4bd7-83de-8e954f311c82",
      "name": "IF - Aprobado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Estado": "Rechazado",
            "Fecha aprobación": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d28bc067-cbb3-4cbc-8f46-65628a254aab",
      "name": "Airtable - Marcar Rechazado",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        448,
        256
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable - Crear Lead').item.json.fields.Email }}",
        "subject": "=Gracias por contactarnos, {{ $('Airtable - Crear Lead').item.json.fields.Nombre }}",
        "message": "=Hola {{ $('Airtable - Crear Lead').item.json.fields.Nombre }},\n\nGracias por tu interés desde {{ $('Airtable - Crear Lead').item.json.fields.Empresa }}. Un miembro de nuestro equipo se va a poner en contacto con vos a la brevedad.\n\nSaludos.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5344bd8b-ba50-4b7b-aef3-74c66799bac8",
      "name": "Gmail - Email al Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        112
      ],
      "webhookId": "8af00e16-8776-4d2d-a9ad-2266edb336b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZXN9yeWyFwNFTNKE",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appByuC301aOkfq9u",
          "mode": "list",
          "cachedResultName": "CRM Leads IA",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u"
        },
        "table": {
          "__rl": true,
          "value": "tblX4MnV7oe7bO5Iz",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appByuC301aOkfq9u/tblX4MnV7oe7bO5Iz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable - Crear Lead').item.json.id }}",
            "Estado": "Contactado"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado por IA",
                  "value": "Procesado por IA"
                },
                {
                  "name": "Esperando Aprobación",
                  "value": "Esperando Aprobación"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Descartado",
                  "value": "Descartado"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clasificación IA",
              "displayName": "Clasificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "VIP",
                  "value": "VIP"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "Descartar",
                  "value": "Descartar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Justificación IA",
              "displayName": "Justificación IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha creación",
              "displayName": "Fecha creación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fecha aprobación",
              "displayName": "Fecha aprobación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "31f984f3-5cae-42ea-8a23-79e5405b8210",
      "name": "Airtable - Marcar Contactado",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        672,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "yXQHROHxVe9OCV3f",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Nuevo Lead": {
      "main": [
        [
          {
            "node": "IF - Campos completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Campos completos": {
      "main": [
        [
          {
            "node": "Airtable - Crear Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Log Error Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Crear Lead": {
      "main": [
        [
          {
            "node": "Gemini - Clasificar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Clasificar Lead": {
      "main": [
        [
          {
            "node": "Parsear respuesta Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Log Error Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Log Error Gemini": {
      "main": [
        [
          {
            "node": "Airtable - Estado Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta Gemini": {
      "main": [
        [
          {
            "node": "Airtable - Actualizar Clasificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Actualizar Clasificación": {
      "main": [
        [
          {
            "node": "IF - Es VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Es VIP": {
      "main": [
        [
          {
            "node": "Airtable - Esperando Aprobación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Marcar Descartado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Esperando Aprobación": {
      "main": [
        [
          {
            "node": "Gmail - Pedir Aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Pedir Aprobación": {
      "main": [
        [
          {
            "node": "IF - Aprobado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Aprobado": {
      "main": [
        [
          {
            "node": "Gmail - Email al Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Marcar Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Email al Lead": {
      "main": [
        [
          {
            "node": "Airtable - Marcar Contactado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2db1065c-54ac-4c09-adc9-0c3112a56cb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9dbff1f4429d21ae3887b3d09c1a3312efddf4f00689ad00c2e0e998466b60e6"
  },
  "id": "ihZgPI2pJffxC8da",
  "tags": []
}